// interactive contents css


@font-face {
    font-family: 'Danjo-bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


// UPDATE 1023
.interactive-hero {
	background: url(../img/251023_interactive/bg_hero.jpg) center/cover no-repeat !important;
	background-attachment: fixed;
	// height: calc(100vh + $headerHeight);
	background-color: rgb(227, 227, 227);
	// margin-top: - $headerHeight;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.10);
		z-index: -1;
	}
	h2 {
		color: #FFF;
		text-align: center;
		font-family: Danjo-bold;
		font-size: 75px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.inner {
		position: relative;
		max-width: 1096px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.obj1 {
		position: absolute;
		top: 170px;
		left: 0;
		width: 242px;
		aspect-ratio: 1 / 1;
		animation: float1 3s ease-in-out 0.3s infinite;
	}
	.obj2 {
		position: absolute;
		top: 523px;
		right: -120px;
		width: 325px;
		aspect-ratio: 1 / 1;
		animation: float2 3.5s ease-in-out infinite;
	}
	@keyframes float1 {
		0%, 100% {
		transform: translateY(0);
		}
		50% {
		transform: translate(-2px, -30px); /* 위로 살짝 이동 */
		}
	}
	@keyframes float2 {
		0%, 100% {
		transform: translateY(0);
		}
		50% {
		transform: translate(4px, -50px); /* 위로 살짝 이동 */
		}
	}

	@media screen and (max-width:768px) {
		background-attachment: scroll;
		margin-top: 0;
		height: calc(100vh - 55px);
	}
}
.editorNote {
	padding: 97px 0 110px;
	background: #060606;
	text-align: center;
	.sub {
		color: #F63;
		text-align: center;
		font-family: Pretendard;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 2;
		margin-bottom: 5px;
	}
	h3 {
		color: #FFF;
		text-align: center;
		font-family: Pretendard;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.33;
		margin-bottom: 30px;
	}
	p {
		color: #FFF;
		font-family: Pretendard;
		font-size: 17px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.76;
	}
}
.interactive-article {
	.inner {
		max-width: 1136px;
	}
	.article-item {
		padding-block: 95px 50px;
		text-align: center;
		color: #000;
		font-style: normal;
		overflow: hidden;
			font-weight: 500;
		h3 {
			font-family: Pretendard;
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 45px;
		}
		.tit {
			color: #000;
			text-align: center;
			font-family: Pretendard;
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-block: 50px;
			.icon {
				margin-bottom: 10px;
			}
			.subt {
				color: #000;
				text-align: center;
				font-family: Pretendard;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
			b {
				color: #000;
				font-family: Pretendard;
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
		img {
			max-width: 720px;
			margin: 0 auto;
			// margin-bottom: 10px;
		}
		img:not(.icon) {
			width: 100%;
		}
		figcaption {
			font-size: 14px;
			line-height: 214%;
			margin-block: 10px 30px;
			&:last-child {
				margin: 0;
			}
		}
		p {
			text-align: left;
			font-size: 17px;
			line-height: 176%;
			// margin-top: 30px;
			margin-block: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.bgGray {
			background-color: #D9D9D9;
		}

		h4 {
			color: #000;
			text-align: center;
			font-family: Pretendard;
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: 1.33;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		.guide {
			color: #000;
			text-align: center;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 2.14;
			margin-bottom: 40px;
		}
		.slideImgBx {
			max-width: 780px;
			margin: 0 auto;
			.slick-prev,
			.slick-next {
				background: url(../img/251023_interactive/ic_slide_arr.svg) center no-repeat;
				width: 48px;
				height: 48px;
				text-indent: -9999px;
				z-index: 1;
			} 
			.slick-next {
				transform: rotate(180deg) translateY(50%);
			}
			.slick-list {
				overflow: visible;
			}
			.slick-slide {
				opacity: 0.6;
				transition: opacity 0.5s ease;
			}
			.slick-current {
				opacity: 1;
			}
		}
		.slideImgBx2 {
			max-width: 740px;
			margin: 0 auto;
			margin-top: 30px;
			img {
				margin: 0;
			}
			.slick-dotted.slick-slider {
				margin-bottom: 84px;
			}
			.slick-dots {
				bottom: -40px;
				li {
					width: 16px;
					height: 16px;
					margin: 0;
					button {
						width: 16px;
						height: 16px;
						&:before {
							text-indent: -9999px;
							background: #000;
							border-radius: 99px;
							width: 8px;
							height: 8px;
							left: 50%;
							top: 50%;
							transform: translate(-50%,-50%);
						}
					}
				} 
			}
		}
		.slideImg {
			.imgPadding {
				padding: 0 30px;
				box-sizing: border-box;
				img {
					// width: 720px;
					// height: 400px;
					max-width: 720px;
					width: 100%;
				}
			}
		}


		.interGraph {
			position: relative;
			max-width: 720px;
			margin: 0 auto;
			position: relative;
			img {
				display: block;
			}
			.bar {
				position: absolute;
				bottom: 21%;
				width: 10.8%;
				background-color: #FF6633;
				transform: translateX(-50%);
				span {
					position: absolute;
					top: -8.8%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #F63;
					text-align: center;
					font-family: Montserrat;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px; /* 150% */
					opacity: 0;
				}
			}
			.bar1 {
				height: 0;
				left: 43.7%;
			}
			.bar2 {
				height: 0;
				left: 63.6%;
			}
			&.active {
				.bar1 {
					height: 45.94%;
					transition: 1s 0.5s ease-in-out;
				}
				.bar1 span {
					opacity: 1;
					transition: 0.3s 1.5s ease-in-out;
				}
				.bar2 {
					height: 59.7%;
					transition: 1s 0.5s ease-in-out;
				}
				.bar2 span {
					opacity: 1;
					transition: 0.3s 1.6s ease-in-out;
				}
			}

			@media screen and (max-width:768px) {
				.bar span {
					font-size: 3vw;
				}
			}
		}

		.trash-cound {
			padding: 15px;
			.titWrap {
				display: flex;
				justify-content: center;
				gap: 10px;
				margin-bottom: 33px;
			}
			.title {
				color: #000;
				text-align: center;
				font-family: Pretendard;
				font-size: 25px;
				font-style: normal;
				font-weight: 600;
				line-height: 1.2;
			}
			.sub {
				color: #7F7F7F;
				font-family: Pretendard;
				font-size: 17px;
				font-style: normal;
				font-weight: 500;
				line-height: 1.76;
				transform: translateY(3px);
			}
			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 27px;
			}
			li {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 380px;
				gap: 10px;
				.key {
					color: #000;
					text-align: right;
					font-family: Pretendard;
					font-size: 17px;
					font-style: normal;
					font-weight: 500;
					line-height: 23px; /* 135.294% */
				}
				.value {
					width: 216px;
					color: #F63;
					text-align: right;
					font-family: Montserrat;
					font-size: 50px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px; /* 60% */
				}
				em {
					color: #000;
					text-align: center;
					font-family: Pretendard;
					font-size: 30px;
					font-style: normal;
					font-weight: 500;
					line-height: 30px; /* 100% */
				}
			}
			figcaption {
				margin: 10px auto 0;
			}
		}
		&.article-4 {
			padding-bottom: 100px;
			img {
				margin-block: 5px 0;
			}
		}
		&.article-5 {
			.tit {
				margin-bottom: 30px;
			}
		}
		&.article-6 {
			.tit {
				margin-bottom: 30px;
			}
		}
	}	
	.cardBx {
		display: flex;
		gap: 26px;
		max-width: 930px;
		margin: 0 auto;
		.item {
			text-align: left;
			flex: 1 0 0;
			padding: 30px;
			background-color: #fff;
			border-radius: 10px;
			img {
				width: 100%;
				margin: 0;
			}
			.bold {
				color: #000;
				font-family: Pretendard;
				font-size: 25px;
				font-style: normal;
				font-weight: 700;
				line-height: 1.2;
				margin: 30px 0 19px;
			}
			p {
				margin: 0;
			}
			&.f-r {
				display: flex;
				align-items: center;
				gap: 40px;
				img {
					width: 50%;
					max-width: 391px;
				}
				.bold {
					margin: 0 0 20px;
				}
			}
		}
	}

	.slideImg2 {
		.imgPadding {
			padding: 0 10px;
		}
	}

	.detailPage .article {
		margin-block: 50px;
		img {
			height: 25px;
		}
		.longlabel {
			height: 66px;
			color: #000;
			font-family: Pretendard;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
		.item + .item {
			margin-top: 30px;
		}
	}
	.ref {
		margin: 0 0 50px;
		.tit {
			color: #000;
			font-family: Pretendard;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			padding-bottom: 20px;
			border-bottom: 1px solid #000;
			margin-bottom: 12px;
		}
		li {
			word-break: break-all;
		}
	}
	.footer {
		color: #000;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		.copyright {
			color: #000;
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-top: 20px;
		}
	}
}
.scrollscreen {
	position: relative;
	color: #FFF;
	font-family: Pretendard;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.76;
	h3 {
		color: #FFF;
		font-family: Pretendard;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin: 0;
	}
	h4 {
		color: #FFF;
		font-family: Pretendard;
		font-size: 25px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		// margin-bottom: 30px;
	}
	p {
		// margin-block: 30px;
	}
	ul {
		li {
			padding-left: 24px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 14px;
				left: 7px;
				width: 3px;
				height: 3px;
				border-radius: 99px;
				background-color: #fff;
			}
		}
	}
	.storyGroup {
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
	}
	.storyGroup + .storyGroup {
		margin-top: 33vh;
	}

	.screenSection {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 400px;
		.storyGroup {
			padding-left: 38px;
		}
	}

	.textWrap {
		margin-left: 57.3%;
		padding: 100px 0;
	}
	.rotationImgWrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 200px 0;
		.inner {
			position: relative;
			height: 100%;
			padding-block: 100px;
		}
	}
	.rotationImg {
		position: sticky;
		// top: calc(50vh - 200px);
		top: 50vh;
		.step {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-50%);
			opacity: 0;
			transition: 0.3s;
			&.active {
				opacity: 1;
			}
		}
		.step1 {
			opacity: 0;
			transition: 0.5s ease-in-out;
			.bar {
				position: absolute;
				bottom: 15.1%;
				width: 78px;
				height: 0;
				background-color: #FF6633;
				transition: 0.5s 0.5s ease-in-out;
			}

			.barBg {
				opacity: 0;
				transition: 0.5s 0.75s ease-in-out;
			}
			.value1,
			.value2,
			.value3 {
				opacity: 0;
				transition: 0.5s 1s ease-in-out;
			}
			.bar1 {
				left: 19.5%;
			}
			.bar2 {
				left: 47%;
			}
			.bar3 {
				left: 75%;
			}
			&.active {
				.barBg,
				.value1,
				.value2,
				.value3 {
					opacity: 1;
				}
				.bar1 {
					height: 7%;
				}
				.bar2 {
					height: 51%;
				}
				.bar3 {
					height: 45%;
				}
			}
		}
		.step7 {
			.value {
				opacity: 0;
				transition: 0.3s 1s;
			}
			&.active {
				.value {
					opacity: 1;
				}
			}
			.bar {
				position: absolute;
				bottom: 20%;
				left: 0;
				width: 60px;
				background-color: #5B5B5B;
				height: 0;
				opacity: 0;
				transition: 0.3s 0.5s;
			}
			.bar1 {
				left: 19%;
			}
			.bar2 {
				left: 33%;
			}
			.bar3 {
				left: 48%;
			}
			.bar4 {
				left: 62.2%;
			}
			.bar5 {
				left: 76.7%;
				background-color: #FF6633;
			}
			&.active  {
				.bar {
					opacity: 1;
				}
				.bar1 {
					left: 19%;
					height: 54%;
				}
				.bar2 {
					left: 33%;
					height: 38%;
				}
				.bar3 {
					left: 48%;
					height: 31%;
				}
				.bar4 {
					left: 62.2%;
					height: 30%;
				}
				.bar5 {
					left: 76.7%;
					height: 27%;
				}
			}
		}
		.step12 {
			.circle {
				position: absolute;
				display: block;
				left: 53.3%;
				top: 31.5%;
				width: 37.1%;
				height: 53.52%;
				border-radius: 9999px;
				z-index: 1;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}	
}
@media screen and (max-width:768px) {
	.interactive-hero h2 {
		font-size: 10vw;
	}
	.editorNote p {
		font-size: 16px;
	}
	.interactive-hero .obj1 {
		left: -3%;
		top: 6%;
		width: 40vw;
	}
	.interactive-hero .obj2 {
		top: unset;
        right: -8%;
        width: 50vw;
        bottom: 3%;
	}
	.interactive-article .article-item p {
		font-size: 16px;
	}
	.interactive-article .article-item .trash-cound .title {
		font-size: 21px;
	}
	.interactive-article .article-item .trash-cound .titWrap {
		flex-direction: column;
		gap: 4px;
	}
	.interactive-article .article-item .trash-cound li {
		padding-right: 7%;
	}
	.interactive-article .article-item .trash-cound li .key {
		font-size: 16px;
	}
	.interactive-article .article-item .trash-cound li .value {
		font-size: 38px;
		width: 180px;
	}
	.interactive-article .article-item .trash-cound li em {
		font-size: 21px;
	}
	.scrollscreen {
		font-size: 16px;
	}
	.scrollscreen .textWrap {
		margin: 0;
		img {
			width: 100%;
			margin: 20px 0;
		}
	}
	.scrollscreen .storyGroup {
		height: auto;
		gap: 20px;
	}
	.scrollscreen .storyGroup + .storyGroup {
		margin-top: 40px;
		&.merge {
			margin-top: 0;
		}
	}
	.interactive-article .article-item h3 {
		font-size: 36px;
		word-break: keep-all;
	}
	.interactive-article .article-item .slideImgBx .slick-prev {
		left: 0;
        width: 32px;
        height: 32px;
	}
	
	.interactive-article .article-item .slideImgBx .slick-next {
		right: 0;
        width: 32px;
        height: 32px;
	}

	.interactive-article .article-item h4 { 
		font-size: 28px;
	}
	.interactive-article .article-item .tit {
		font-size: 24px;
		word-break: keep-all;
	}
	.interactive-article .article-item .tit .icon {
		width: 32px;
	}
	.interactive-article .article-item .tit b {
		display: block;
	}
	.interactive-article .article-item figcaption {
		font-size: 12px;
		margin-top: 5px;
	}
	.interactive-article .cardBx {
		flex-direction: column;
	}
	.interactive-article .cardBx .item {
		padding-inline: 24px;
	}
	.interactive-article .cardBx .item .bold {
		font-size: 24px;
		margin: 30px 0 13px;
	}
	.interactive-article .cardBx .item.f-r {
		flex-direction: column;
	}
	.interactive-article .cardBx .item.f-r .bold {
		margin-bottom: 13px;
	}
	.interactive-article .slideImg2 .imgPadding {
		padding-inline: 6px;
	}
	.ref li {
		font-size: 12px;
	}
	.ref li + li {
		margin-top: 4px;
	}
}
.scrollscreen1 {
	background: url(../img/251023_interactive/bg_scrollscreen_01.png) center/cover fixed no-repeat;
}
.scrollscreen2 {
	background: url(../img/251023_interactive/bg_scrollscreen_02.png) center/cover fixed no-repeat;
}
.scrollscreen3 {
	background: url(../img/251023_interactive/bg_scrollscreen_03.png) center/cover fixed no-repeat;
}
.scrollscreen4 {
	background: url(../img/251023_interactive/bg_scrollscreen_04.png) center/cover fixed no-repeat;
}