@charset "UTF-8";
@font-face {
  font-family: "Danjo-bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
.interactive-hero {
  background: url(../img/251023_interactive/bg_hero.jpg) center/cover no-repeat !important;
  background-attachment: fixed;
  background-color: rgb(227, 227, 227);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.interactive-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.interactive-hero h2 {
  color: #FFF;
  text-align: center;
  font-family: Danjo-bold;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.interactive-hero .inner {
  position: relative;
  max-width: 1096px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interactive-hero .obj1 {
  position: absolute;
  top: 170px;
  left: 0;
  width: 242px;
  aspect-ratio: 1/1;
  animation: float1 3s ease-in-out 0.3s infinite;
}
.interactive-hero .obj2 {
  position: absolute;
  top: 523px;
  right: -120px;
  width: 325px;
  aspect-ratio: 1/1;
  animation: float2 3.5s ease-in-out infinite;
}
@keyframes float1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translate(-2px, -30px); /* 위로 살짝 이동 */
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translate(4px, -50px); /* 위로 살짝 이동 */
  }
}
@media screen and (max-width: 768px) {
  .interactive-hero {
    background-attachment: scroll;
    margin-top: 0;
    height: calc(100vh - 55px);
  }
}

.editorNote {
  padding: 97px 0 110px;
  background: #060606;
  text-align: center;
}
.editorNote .sub {
  color: #F63;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 5px;
}
.editorNote h3 {
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 30px;
}
.editorNote p {
  color: #FFF;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.76;
}

.interactive-article .inner {
  max-width: 1136px;
}
.interactive-article .article-item {
  padding-block: 95px 50px;
  text-align: center;
  color: #000;
  font-style: normal;
  overflow: hidden;
  font-weight: 500;
}
.interactive-article .article-item h3 {
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
}
.interactive-article .article-item .tit {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 50px;
}
.interactive-article .article-item .tit .icon {
  margin-bottom: 10px;
}
.interactive-article .article-item .tit .subt {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.interactive-article .article-item .tit b {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.interactive-article .article-item img {
  max-width: 720px;
  margin: 0 auto;
}
.interactive-article .article-item img:not(.icon) {
  width: 100%;
}
.interactive-article .article-item figcaption {
  font-size: 14px;
  line-height: 214%;
  margin-block: 10px 30px;
}
.interactive-article .article-item figcaption:last-child {
  margin: 0;
}
.interactive-article .article-item p {
  text-align: left;
  font-size: 17px;
  line-height: 176%;
  margin-block: 30px;
}
.interactive-article .article-item p:last-child {
  margin-bottom: 0;
}
.interactive-article .article-item.bgGray {
  background-color: #D9D9D9;
}
.interactive-article .article-item h4 {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  margin-top: 50px;
  margin-bottom: 10px;
}
.interactive-article .article-item .guide {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.14;
  margin-bottom: 40px;
}
.interactive-article .article-item .slideImgBx {
  max-width: 780px;
  margin: 0 auto;
}
.interactive-article .article-item .slideImgBx .slick-prev,
.interactive-article .article-item .slideImgBx .slick-next {
  background: url(../img/251023_interactive/ic_slide_arr.svg) center no-repeat;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  z-index: 1;
}
.interactive-article .article-item .slideImgBx .slick-next {
  transform: rotate(180deg) translateY(50%);
}
.interactive-article .article-item .slideImgBx .slick-list {
  overflow: visible;
}
.interactive-article .article-item .slideImgBx .slick-slide {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.interactive-article .article-item .slideImgBx .slick-current {
  opacity: 1;
}
.interactive-article .article-item .slideImgBx2 {
  max-width: 740px;
  margin: 0 auto;
  margin-top: 30px;
}
.interactive-article .article-item .slideImgBx2 img {
  margin: 0;
}
.interactive-article .article-item .slideImgBx2 .slick-dotted.slick-slider {
  margin-bottom: 84px;
}
.interactive-article .article-item .slideImgBx2 .slick-dots {
  bottom: -40px;
}
.interactive-article .article-item .slideImgBx2 .slick-dots li {
  width: 16px;
  height: 16px;
  margin: 0;
}
.interactive-article .article-item .slideImgBx2 .slick-dots li button {
  width: 16px;
  height: 16px;
}
.interactive-article .article-item .slideImgBx2 .slick-dots li button:before {
  text-indent: -9999px;
  background: #000;
  border-radius: 99px;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.interactive-article .article-item .slideImg .imgPadding {
  padding: 0 30px;
  box-sizing: border-box;
}
.interactive-article .article-item .slideImg .imgPadding img {
  max-width: 720px;
  width: 100%;
}
.interactive-article .article-item .interGraph {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
.interactive-article .article-item .interGraph img {
  display: block;
}
.interactive-article .article-item .interGraph .bar {
  position: absolute;
  bottom: 21%;
  width: 10.8%;
  background-color: #FF6633;
  transform: translateX(-50%);
}
.interactive-article .article-item .interGraph .bar span {
  position: absolute;
  top: -8.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F63;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  opacity: 0;
}
.interactive-article .article-item .interGraph .bar1 {
  height: 0;
  left: 43.7%;
}
.interactive-article .article-item .interGraph .bar2 {
  height: 0;
  left: 63.6%;
}
.interactive-article .article-item .interGraph.active .bar1 {
  height: 45.94%;
  transition: 1s 0.5s ease-in-out;
}
.interactive-article .article-item .interGraph.active .bar1 span {
  opacity: 1;
  transition: 0.3s 1.5s ease-in-out;
}
.interactive-article .article-item .interGraph.active .bar2 {
  height: 59.7%;
  transition: 1s 0.5s ease-in-out;
}
.interactive-article .article-item .interGraph.active .bar2 span {
  opacity: 1;
  transition: 0.3s 1.6s ease-in-out;
}
@media screen and (max-width: 768px) {
  .interactive-article .article-item .interGraph .bar span {
    font-size: 3vw;
  }
}
.interactive-article .article-item .trash-cound {
  padding: 15px;
}
.interactive-article .article-item .trash-cound .titWrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 33px;
}
.interactive-article .article-item .trash-cound .title {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}
.interactive-article .article-item .trash-cound .sub {
  color: #7F7F7F;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.76;
  transform: translateY(3px);
}
.interactive-article .article-item .trash-cound ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.interactive-article .article-item .trash-cound li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 380px;
  gap: 10px;
}
.interactive-article .article-item .trash-cound li .key {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 135.294% */
}
.interactive-article .article-item .trash-cound li .value {
  width: 216px;
  color: #F63;
  text-align: right;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 60% */
}
.interactive-article .article-item .trash-cound li em {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 100% */
}
.interactive-article .article-item .trash-cound figcaption {
  margin: 10px auto 0;
}
.interactive-article .article-item.article-4 {
  padding-bottom: 100px;
}
.interactive-article .article-item.article-4 img {
  margin-block: 5px 0;
}
.interactive-article .article-item.article-5 .tit {
  margin-bottom: 30px;
}
.interactive-article .article-item.article-6 .tit {
  margin-bottom: 30px;
}
.interactive-article .cardBx {
  display: flex;
  gap: 26px;
  max-width: 930px;
  margin: 0 auto;
}
.interactive-article .cardBx .item {
  text-align: left;
  flex: 1 0 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.interactive-article .cardBx .item img {
  width: 100%;
  margin: 0;
}
.interactive-article .cardBx .item .bold {
  color: #000;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 30px 0 19px;
}
.interactive-article .cardBx .item p {
  margin: 0;
}
.interactive-article .cardBx .item.f-r {
  display: flex;
  align-items: center;
  gap: 40px;
}
.interactive-article .cardBx .item.f-r img {
  width: 50%;
  max-width: 391px;
}
.interactive-article .cardBx .item.f-r .bold {
  margin: 0 0 20px;
}
.interactive-article .slideImg2 .imgPadding {
  padding: 0 10px;
}
.interactive-article .detailPage .article {
  margin-block: 50px;
}
.interactive-article .detailPage .article img {
  height: 25px;
}
.interactive-article .detailPage .article .longlabel {
  height: 66px;
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.interactive-article .detailPage .article .item + .item {
  margin-top: 30px;
}
.interactive-article .ref {
  margin: 0 0 50px;
}
.interactive-article .ref .tit {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 12px;
}
.interactive-article .ref li {
  word-break: break-all;
}
.interactive-article .footer {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.interactive-article .footer .copyright {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.scrollscreen {
  position: relative;
  color: #FFF;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.76;
}
.scrollscreen h3 {
  color: #FFF;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.scrollscreen h4 {
  color: #FFF;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.scrollscreen ul li {
  padding-left: 24px;
  position: relative;
}
.scrollscreen ul li::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;
  width: 3px;
  height: 3px;
  border-radius: 99px;
  background-color: #fff;
}
.scrollscreen .storyGroup {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.scrollscreen .storyGroup + .storyGroup {
  margin-top: 33vh;
}
.scrollscreen .screenSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}
.scrollscreen .screenSection .storyGroup {
  padding-left: 38px;
}
.scrollscreen .textWrap {
  margin-left: 57.3%;
  padding: 100px 0;
}
.scrollscreen .rotationImgWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 200px 0;
}
.scrollscreen .rotationImgWrap .inner {
  position: relative;
  height: 100%;
  padding-block: 100px;
}
.scrollscreen .rotationImg {
  position: sticky;
  top: 50vh;
}
.scrollscreen .rotationImg .step {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
}
.scrollscreen .rotationImg .step.active {
  opacity: 1;
}
.scrollscreen .rotationImg .step1 {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.scrollscreen .rotationImg .step1 .bar {
  position: absolute;
  bottom: 15.1%;
  width: 78px;
  height: 0;
  background-color: #FF6633;
  transition: 0.5s 0.5s ease-in-out;
}
.scrollscreen .rotationImg .step1 .barBg {
  opacity: 0;
  transition: 0.5s 0.75s ease-in-out;
}
.scrollscreen .rotationImg .step1 .value1,
.scrollscreen .rotationImg .step1 .value2,
.scrollscreen .rotationImg .step1 .value3 {
  opacity: 0;
  transition: 0.5s 1s ease-in-out;
}
.scrollscreen .rotationImg .step1 .bar1 {
  left: 19.5%;
}
.scrollscreen .rotationImg .step1 .bar2 {
  left: 47%;
}
.scrollscreen .rotationImg .step1 .bar3 {
  left: 75%;
}
.scrollscreen .rotationImg .step1.active .barBg,
.scrollscreen .rotationImg .step1.active .value1,
.scrollscreen .rotationImg .step1.active .value2,
.scrollscreen .rotationImg .step1.active .value3 {
  opacity: 1;
}
.scrollscreen .rotationImg .step1.active .bar1 {
  height: 7%;
}
.scrollscreen .rotationImg .step1.active .bar2 {
  height: 51%;
}
.scrollscreen .rotationImg .step1.active .bar3 {
  height: 45%;
}
.scrollscreen .rotationImg .step7 .value {
  opacity: 0;
  transition: 0.3s 1s;
}
.scrollscreen .rotationImg .step7.active .value {
  opacity: 1;
}
.scrollscreen .rotationImg .step7 .bar {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 60px;
  background-color: #5B5B5B;
  height: 0;
  opacity: 0;
  transition: 0.3s 0.5s;
}
.scrollscreen .rotationImg .step7 .bar1 {
  left: 19%;
}
.scrollscreen .rotationImg .step7 .bar2 {
  left: 33%;
}
.scrollscreen .rotationImg .step7 .bar3 {
  left: 48%;
}
.scrollscreen .rotationImg .step7 .bar4 {
  left: 62.2%;
}
.scrollscreen .rotationImg .step7 .bar5 {
  left: 76.7%;
  background-color: #FF6633;
}
.scrollscreen .rotationImg .step7.active .bar {
  opacity: 1;
}
.scrollscreen .rotationImg .step7.active .bar1 {
  left: 19%;
  height: 54%;
}
.scrollscreen .rotationImg .step7.active .bar2 {
  left: 33%;
  height: 38%;
}
.scrollscreen .rotationImg .step7.active .bar3 {
  left: 48%;
  height: 31%;
}
.scrollscreen .rotationImg .step7.active .bar4 {
  left: 62.2%;
  height: 30%;
}
.scrollscreen .rotationImg .step7.active .bar5 {
  left: 76.7%;
  height: 27%;
}
.scrollscreen .rotationImg .step12 .circle {
  position: absolute;
  display: block;
  left: 53.3%;
  top: 31.5%;
  width: 37.1%;
  height: 53.52%;
  border-radius: 9999px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .interactive-hero h2 {
    font-size: 10vw;
  }
  .editorNote p {
    font-size: 16px;
  }
  .interactive-hero .obj1 {
    left: -3%;
    top: 6%;
    width: 40vw;
  }
  .interactive-hero .obj2 {
    top: unset;
    right: -8%;
    width: 50vw;
    bottom: 3%;
  }
  .interactive-article .article-item p {
    font-size: 16px;
  }
  .interactive-article .article-item .trash-cound .title {
    font-size: 21px;
  }
  .interactive-article .article-item .trash-cound .titWrap {
    flex-direction: column;
    gap: 4px;
  }
  .interactive-article .article-item .trash-cound li {
    padding-right: 7%;
  }
  .interactive-article .article-item .trash-cound li .key {
    font-size: 16px;
  }
  .interactive-article .article-item .trash-cound li .value {
    font-size: 38px;
    width: 180px;
  }
  .interactive-article .article-item .trash-cound li em {
    font-size: 21px;
  }
  .scrollscreen {
    font-size: 16px;
  }
  .scrollscreen .textWrap {
    margin: 0;
  }
  .scrollscreen .textWrap img {
    width: 100%;
    margin: 20px 0;
  }
  .scrollscreen .storyGroup {
    height: auto;
    gap: 20px;
  }
  .scrollscreen .storyGroup + .storyGroup {
    margin-top: 40px;
  }
  .scrollscreen .storyGroup + .storyGroup.merge {
    margin-top: 0;
  }
  .interactive-article .article-item h3 {
    font-size: 36px;
    word-break: keep-all;
  }
  .interactive-article .article-item .slideImgBx .slick-prev {
    left: 0;
    width: 32px;
    height: 32px;
  }
  .interactive-article .article-item .slideImgBx .slick-next {
    right: 0;
    width: 32px;
    height: 32px;
  }
  .interactive-article .article-item h4 {
    font-size: 28px;
  }
  .interactive-article .article-item .tit {
    font-size: 24px;
    word-break: keep-all;
  }
  .interactive-article .article-item .tit .icon {
    width: 32px;
  }
  .interactive-article .article-item .tit b {
    display: block;
  }
  .interactive-article .article-item figcaption {
    font-size: 12px;
    margin-top: 5px;
  }
  .interactive-article .cardBx {
    flex-direction: column;
  }
  .interactive-article .cardBx .item {
    padding-inline: 24px;
  }
  .interactive-article .cardBx .item .bold {
    font-size: 24px;
    margin: 30px 0 13px;
  }
  .interactive-article .cardBx .item.f-r {
    flex-direction: column;
  }
  .interactive-article .cardBx .item.f-r .bold {
    margin-bottom: 13px;
  }
  .interactive-article .slideImg2 .imgPadding {
    padding-inline: 6px;
  }
  .ref li {
    font-size: 12px;
  }
  .ref li + li {
    margin-top: 4px;
  }
}
.scrollscreen1 {
  background: url(../img/251023_interactive/bg_scrollscreen_01.png) center/cover fixed no-repeat;
}

.scrollscreen2 {
  background: url(../img/251023_interactive/bg_scrollscreen_02.png) center/cover fixed no-repeat;
}

.scrollscreen3 {
  background: url(../img/251023_interactive/bg_scrollscreen_03.png) center/cover fixed no-repeat;
}

.scrollscreen4 {
  background: url(../img/251023_interactive/bg_scrollscreen_04.png) center/cover fixed no-repeat;
}/*# sourceMappingURL=style_251023.css.map */